@import '../../styles/colours.module.scss';

.avatarImage {

    max-height: 98px;

    object-fit: cover;

    // max-width: 128px;

    &Wrapper {
        height: 98px;
        border-radius: 99999px;
        min-width: 98px;
        width: 98px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $grey-800;
    }
}